* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root {

    /* ----FONTS---- */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif; 
}

body{
    font-family: var(--font-secondary);
}

header img {
    width: 70%;
    height: 100%;
}